.Back{
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: black;
}
.head{
    margin: 43px 10px 8px 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}