<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/CSS/ProfileStyle.css">
</head>
<body>
    <a href="/" class = "Back">&larr;Back</a>
    <!-- <h1>Hello {{ user.name }}!</h1> -->
<!-- <p>Email: {{ user.email }}</p> -->
    <div class = "Profile-box">
        <img src="{{ user.picture }}" alt="profile picture" class = "Profile"><br>
        <h2 class = "user-name">{{ user.name }}</h2>
        <h4 class = "Email">Email:{{ user.email }}</h4>
        <a href="/logout" class = "Logout-btn">Logout<br></a>
    </div>
</body>
</html>